@{
    Layout = "_Layout";
}


<h1 clas="card-title">Pierr's Bakery's Vendor Tracker</h1>
<div class="button-container">
    <a href="/vendors"><button class="btn btn-info">See Vendors</button></a>
    <a href="/vendors/new"><button class="btn btn-info">Add Vendors</button></a>
</div>