@using VendorTracker.Models;
@{
    Layout = "_Layout";
}

<h1>Order List</h1>

@if (Model.Count == 0)
{
  <p>There are no orders in the list.</p>
}
else
{
    <div class="card-container">
    @foreach (Order order in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@order.Title</h5>
                <p class="card-text">@order.Description</p>
                <p><a href='/orders/@order.Id' >See order</a></p>
            </div>
        </div>
    }
    </div>
}

<a class="btn btn-info" href='/vendors/@Model["vendor"].Id/orders/new'>Add More Order</a>
<a class="btn btn-info" href='/vendors/@Model["vendor"].Id/orders'>Back to @Model.Name page</a>
<a class="btn btn-info" href="/vendors/">Back to Vendor List</a>
<a class="btn btn-secondary" href="/">Back Home</a>

@* <form action="/items/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form> *@