@{
    Layout = "_Layout";
}

<h1>Pierre's Bakery's Vendor Tracker</h1>

<a href="/vendors"><button class="btn btn-info">See Vendors</button></a>
<a href="/vendors/new"><button class="btn btn-info">Add Vendors</button></a>
